<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Invites</h2>
        <% invites.forEach(invite => { %>
            <% if(invite && invite.isExpired != true) { %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <strong>MC Number:</strong> <%= invite.mcNumber %>
                  <strong>Email:</strong> <%= invite.email %>
                </div>
                <div class="col-md-6"> 
                  <div class="row">
                    <div class="col-md-4">
                      <button class="btn btn-primary view-invite" data-id="<%=invite._id %>">View</button>
                    </div>
                    <div class="col-md-4">
                      <form method="POST" action="/invites/<%= invite._id %>/revoke">
  <button type="submit" class="btn btn-danger btn-revoke" data-id="<%=invite._id %>">Revoke</button>
</form>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-info">Resend</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
              </div>
            </div>
          </div>
          <% } %> 
           
        <% }) %>
      </div>
    
      
      <div class="col-md-6">
        <h2>Carriers In Moderation</h2>
        <% carriers.forEach(carrier => { %>
          <% if(carrier && carrier.status === "inModeration") {%>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <strong>Status:</strong> <%= carrier.status %>
                    <strong>Carrier Name:</strong> <%= carrier.name %>
                    <strong>MC Number:</strong> <%= carrier.mcNumber %>
                  </div>
                  
                </div>
                <div class="col-md-6">
                 
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <button class="btn btn-primary view-button" data-id="<%=carrier._id %>">View</button>
                  </div>
                  <div class="col-md-4">
                    <form action="/carriers/<%=carrier._id %>/decline" method="post">
                      <button class="btn btn-danger btn-sm decline-button">Decline</button>
                    </form>
                  </div>
                  <div class="col-md-4">
                    <% if(user.role==="admin") { %>
                      <form id="deleteCarrierForm">
                        <input type="hidden" id="carrierId" value="<%=carrier._id %>">
                        <button type="button" onclick="deleteCarrier()" class="btn btn-danger btn-sm">Delete Carrier</button>
                      </form>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        <% }) %>
      </div>
    </div>
  </div>
  