<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h2>Invites</h2>
        <% invites.forEach(invite => { %>
            <% if(invite && invite.isExpired != true) { %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-5">
                  <strong>MC Number:</strong> <%= invite.mcNumber %>
                  <strong>Email:</strong> <%= invite.email %>
                </div>
                <div class="col-md-6"> 
                  <div class="row">
                    <div class="col-md-4">
                      <button class="btn btn-primary">View</button>
                    </div>
                    <div class="col-md-4">
                      <form method="POST" action="/invites/<%= invite._id %>/revoke">
  <button type="submit" class="btn btn-danger btn-revoke" data-id="<%=invite._id %>">Revoke Invite</button>
</form>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-info">Resend</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-2">
              </div>
            </div>
          </div>
          <% } %> 
           
        <% }) %>
      </div>
    
      <div class="modal fade" id="carrier-popup" tabindex="-1" role="dialog" aria-labelledby="carrier-popup-label" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="carrier-popup-label">Carrier Details</h5>
              <button type="button" class="btn btn-secondary btn-sm close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Carrier details will be inserted here -->
            </div>
       
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Carriers In Moderation</h2>
        <% carriers.forEach(carrier => { %>
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <strong>MC Number:</strong> <%= carrier.mcNumber %>
                </div>
                <div class="col-md-6">
                  <strong>Carrier Name:</strong> <%= carrier.name %>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <button class="btn btn-primary view-button" data-id="<%=carrier._id %>">View</button>

                </div>
                <div class="col-md-6">
                  <button class="btn btn-danger btn-sm">Decline</button>
                </div>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
  