<%- include('partials/head.ejs') %>

<div class="pageContent">
  <%- include('partials/flash.ejs') %>
  <%if(user) { %> <h3>Welcome: <%=user.username%></h3> <% } %>
  <%- body %>
  <%- include('partials/footer.ejs') %>
</div>