<%- include('partials/head.ejs') %>

<div class="pageContent">
  <%- include('partials/flash.ejs') %>
  <%if(user) { %>
    <div class="container my-3">
      <div class="row">
        <h6 class="text-muted">Welcome <%=user.username%></h6> 
      </div>
    </div>
  <% } %>
  <div class="container ">
    <%- body %>
  </div>
  
  <%- include('partials/footer.ejs') %>
</div>