<% layout('layout.ejs') %>

<div class="container mt-5">
  <h2>Edit Carrier</h2>
  <form action="/carriers/<%= carrier._id %>/?_method=PUT" method="POST">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label for="name">Company Name</label>
          <input type="text" class="form-control" id="name" name="name" value="<%= carrier.name || '' %>" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="<%= carrier.email || '' %>" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" name="phone" value="<%= carrier.phone || '' %>" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Owner Name</label>
          <input type="text" class="form-control" id="ownerName" name="ownerName" value="<%= carrier.ownerName || '' %>" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Dispatcher Name</label>
          <input type="text" class="form-control" id="dispatcherName" name="dispatcherName" value="<%= carrier.dispatcherName || '' %>" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Dispatcher Phone</label>
          <input type="text" class="form-control" id="dispatcherPhone" name="dispatcherPhone" value="<%= carrier.dispatcherPhone || '' %>" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="phone">Dispatcher Email</label>
          <input type="text" class="form-control" id="dispatcherEmail" name="dispatcherEmail" value="<%= carrier.dispatcherEmail || '' %>" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" name="address" required value="<%= carrier.address || '' %>" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="address2">Address 2</label>
          <input type="text" class="form-control" id="address2" name="address2" value="<%= carrier.address2 || '' %>" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" class="form-control" id="city" name="city" value="<%= carrier.city || '' %>" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="state">State</label>
          <input type="text" class="form-control" id="state" name="state" value="<%= carrier.state || '' %>" required>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="zip">ZIP Code</label>
          <input type="text" class="form-control" id="zip" name="zip" value="<%= carrier.zip || '' %>" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="einNumber">EIN Number</label>
          <input type="text" class="form-control" id="einNumber" name="einNumber" value="<%= carrier.einNumber || '' %>"  required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="dotNumber">DOT Number</label>
          <input type="text" class="form-control" id="dotNumber" name="dotNumber" value="<%= carrier.dotNumber || '' %>"  required>
        </div>
      </div>
      <div class="col-md-6 my-3">
        <div class="form-group">
          <label for="paymentOption">Payment Option</label>
          <div>
            <% const paymentOptions = ["factoring", "standart", "quickpay1", "quickpay2", "quickpay3"]; %>
            <% paymentOptions.forEach(function(option) { %>
              <%- console.log('Payment method:', carrier.payment && carrier.payment.paymentMethod, 'Payment options:', paymentOptions) %>

              <div class="form-check">
                <input class="form-check-input" type="radio" id="paymentOption<%= option %>" name="paymentOption" value="<%= option %>" <% if (carrier && carrier.payment && carrier.payment.paymentMethod === option) { %>checked<% } %>>
                <label class="form-check-label" for="paymentOption<%= option %>"><%= option %></label>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div> 
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

<!-- Delete Carrier Form -->
<form id="deleteCarrierForm" class="my-3">
  <input type="hidden" id="carrierId" value="<%=carrier._id %>">
  <button type="button" onclick="deleteCarrier()" class="btn btn-danger">Delete Carrier</button>
</form>

<!-- Moderate Carrier Form -->
<% if (carrier.status === 'inModeration') { %>

  <form id="moderateCarrierForm" method="POST" class="my-3">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="status" value="active">
    <input type="hidden" name="agreementAccepted" value="false">
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="agreementAccepted" name="agreementAccepted" required>
      <label class="form-check-label" for="agreementAccepted">I confirm that I have read and verified all the information about <%= carrier.name %>.</label>
    </div>
    <button type="submit" class="btn btn-primary">Activate</button>
  </form>
<% } %>