
<% layout('layoutModal.ejs') %>
<%- include('../partials/loader.ejs') %>
        <div class="row"><h5><%=carrier.name %> || MC#<%= carrier.mcNumber %></h5></div>
        
        <div class="row my-3">
          
          <!-- LEFT -->
          <div class="col-md-6 border rounded py-3">
            <div class="col-md-12">
              <ul style="list-style-type: none;">
                <h6 clas="text-muted">Business details</h6>
                <li>Owner Name: <%= carrier.ownerName %></li>
                <li>Dispatcher Name: <%= carrier.dispatcherName %></li>
                <li>Dispatcher Phone: <%= carrier.dispatcherPhone %></li>
                <li>Dispatcher Email: <%= carrier.dispatcherEmail %></li>
                <li>Company Phone: <%= carrier.phone %></li>
                <li>Company Email: <%= carrier.email %></li>
                <li>DOT: <%= carrier.dotNumber %></li>
                <li>EIN: <%= carrier.einNumber %></li>
                <li>Address: <%= carrier.address %></li>
                <% if(carrier.address2) {%> <li>Address2: <%= carrier.address2 %></li><% } %>
                <li>City: <%= carrier.city %></li>
                <li>State: <%= carrier.state %></li>
                <li>Zip: <%= carrier.zip %></li>
                <li>Invited by: <%= invite.createdBy %></li>
              </ul>
            </div>
          </div>
        
          <!-- RIGHT -->
          <div class="col-md-6">
            <h3>Documents</h3>
            <% if (carrier.documents.length || carrier.carrierAgreementUrl.length> 0) { %>
              <table>
                <thead>
                   <tr>
                    <th>Document Type</th>
                    <th>Actions</th>
                      </tr>
                  </thead>
                  <tbody>
                    <% documents.forEach(function(document) { %>
                      <tr>
                        <td><%= document.type %></td>
                        <td>
                          <button class="download-document" data-carrier-id="<%= carrier._id %>" data-doc-id="<%= document._id %>">Download</button>
                        </td>
                      </tr>
                    <% }); %>
                  </tbody>
              </table>
            <% } else { %>
              <p>No documents available.</p>
            <% } %>
          </div>
          <!-- BOTTOM -->
          <div class="row">
            <div class="col-md-4">
              <% if (carrier.status === 'inModeration') { %>
                <form id="moderateCarrierForm" action="/carriers/<%= carrier._id %>/moderate" method="post">
                  <button class="btn btn-primary btn-sm" id="moderateButton" disabled>Moderate</button>
                  <div>
                    <input type="checkbox" id="moderateCheckbox">
                    <label for="moderateCheckbox">By clicking the 'Activate' button, I confirm that I have reviewed and verified all the information about '<%= carrier.name %>'.</label>
                  </div>
                </form>
              <% } %>
            </div>
            <div class="col-md-4">
              <% if(user.role==="admin") { %>
                <form id="deleteCarrierForm">
                  <input type="hidden" id="carrierId" value="<%=carrier._id %>">
                  <button type="button" onclick="deleteCarrier()">Delete Carrier</button>
              </form>
                <% } %>
            </div>
            <div class="col-md-4">
              <button class="btn btn-secondary btn-sm">Edit</button>
            </div>
          </div>
          </div>

        
    
